<div class ="second-container">
    <img src="assets/Me.jpg" alt="Avatar" style="float: left; ;border-radius: 50%;width: 20%;margin:2%;">
    <h1 style="margin: 15vh;"> Hello there! I am Simão Amaro, a Software Engineer who loves to study different technologies and better ways to write cleaner code. 
        Currently my focus is <b>full-stack development</b>, but I also have an interest
        in devOps, artificial intelligence and machine learning.</h1>
</div>

<div class ="main-container">
    <div class="row2">
        <div class="column3">
            <h1 class = "title"><b>Growing Up</b></h1>
            <br><br><br>
            <ul>
                <li> <h2>Been excellent student through whole studies,
                     having acquired several certificates of best in class</h2>
                <li> <h2>Played semi-professional soccer for 10 years in city's team Vianense</h2></li>
            </ul>
        </div>
        <div class="column3">
            <h1 class = "title"><b>Studies</b></h1>
            <br><br><br>
            <ul>
                <li><h2> Average of 19.13/20 in High School in Sciences</h2></li>
                <li><h2> Master's Degree in Aerospace Engineering, with an average of 17/20</h2></li>
            </ul>
            
        </div>
        <div class="column3">
            <h1 class = "title"><b>Work</b></h1>
            <br><br><br>
            <ul>
                <li>
                    <h2> Associate Software Engineer at Unit4</h2>
                    <ul>
                        <li> <h3>Part of the R&D team, having worked mostly in the extension kit in Angular and C#. 
                            In sum, it allows users to build pipelines of triggers and actions, for instance receiving an email
                        with weather information every early morning</h3>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


