.column3 {
    float: left;
    width: 33.33%;
  }
.title{
    text-align:center;
}

.child{
    margin-top: 8vh;
}

.second-container{
    margin:5vh;
    display:inline-block
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 3vw;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.main-container{
    margin:5vh;
}

h1 {
    font-size: 2.5vh;
}
  
h2 {
    font-size: 2.2vh;
}

h3 {
    font-size: 2vh;
}
  