<form [formGroup]="formData" #formDirective="ngForm"  (submit)="sendEmail($event, formDirective)" >
<div class = "example-container">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="user_name" required name = "user_name">
        <mat-error *ngIf="formData.invalid">You must enter a name</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" type="email" formControlName="user_email" required name = "user_email">
        <mat-error *ngIf="formData.invalid">
            <div *ngIf="formData.touched; else elseBlock">Invalid email</div>
            <ng-template #elseBlock>You must enter an email</ng-template>
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Body</mat-label>
        <textarea matInput name="message" formControlName="message" required></textarea>
        <mat-error *ngIf="formData.invalid">You must enter a body</mat-error>
    </mat-form-field>

        <re-captcha formControlName="recaptchaReactive" required style = "float:left;"></re-captcha>
        <button mat-raised-button type="submit" value="Send" style ="font-size: 2vh; margin-top:1%">Send</button>
    
</div>
</form>
