.example-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    position: relative; 
    top: 8vw; 
  }

mat-form-field.mat-form-field {
font-size: 1vw;
width: 40vh;
margin: 1%;
}

::ng-deep .mat-snack-bar-container{
    color: #155724 !important;
    background-color: #d4edda !important;
    border-color: #c3e6cb !important;
  }
::ng-deep .mat-simple-snackbar-action {
color: red;
}


