.main-text {
    background-image:url("../../assets/Coding2.png");
    background-position:center;
    background-size: cover;
    height:80vh;
    width:100%;
}

.bigtext{
    font-size: 5vw;
    margin-top: 0%;
}

.smalltext{
    font-size: 2.5vw;
    margin-top: 5%;
}